# Application
NODE_ENV=development
PORT=3000
FRONTEND_URL=https://groreels.com

# Authentication
JWT_SECRET=your_local_jwt_secret

# Redis Cache
REDIS_URL=rediss://username:password@hostname:port

# Stripe Payments
STRIPE_SECRET_KEY=your_stripe_test_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_test_secret
STRIPE_PUBLIC_KEY=your_stripe_public_test_key
STRIPE_CLIENT_ID=your_stripe_client_test_id

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your_email
EMAIL_PASSWORD=your_password

# Social Media APIs
LINKEDIN_CLIENT_ID=your_linkedin_client_id
LINKEDIN_CLIENT_SECRET=your_linkedin_client_secret
TIKTOK_CLIENT_SECRET=your_tiktok_client_secret
TIKTOK_CLIENT_KEY=your_tiktok_client_key
TIKTOK_REDIRECT_URI=http://localhost:3000/tiktok/callback

# AI/ML
OPENAI_API_KEY=your_openai_api_key

# AWS
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_BUCKET_NAME=your_bucket_name
